.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.section {
    background-color: rgba(0, 0, 0, 0.763);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;  
}



/* Nav */
.nav {
    padding-left: 9px;
    padding-right: 9px;
}
* {
    box-sizing: border-box;
}
nav {
    display: block;
}

.div {
    padding-right: 12px;
}

/* List */
.ul {
    list-style: none;
    margin: 0 0 0 -5px;
    padding-inline-start: 0;
    display: flex;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.li>.a {
    display: flex;
    align-items: center;
    height: 54px;
    vertical-align: middle;
    padding: 0 9px;
    color: white;
    text-decoration: none;
}


li {
    text-align: -webkit-match-parent;
}

.button {
    display: flex;
    height: 54px;
    padding: 0 12px;
    font-weight: var(--font-weight-semi-bold);
    white-space: nowrap;
    align-items: center;
    text-decoration: none;
    color: var(--stroke-color);
    font-size: var(--font-size-sm);
    cursor: pointer;
}

button {
    background-color: transparent;
    border: none;
}

@font-face {
    font-family: bobaland;
    src: url(Bobaland.ttf);
}


body {
    background-image: url(bg.jpg);
    font-family: bobaland;
    margin-bottom: 1000px;
    width: 100%;
}

.welcome {
    font-size: 30px;
    color: rgb(245, 185, 32);
}

.awal {
    font-size: 120%;
    color:white;
    padding-left: 50px;
    padding-right: 50px;

}

.table {
    border-radius: 50px;
    margin: 100px;
    background-color: #d66215;
    padding: 50px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }

